.button {
    background-color: #ec008c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #452274;
}