li {
    list-style: none;
}

.cards {
  background-color: #91cb7e;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  }

  .cards .red {
    background-color: rgba(58, 142, 191, 0.885);
  }
  
  .cards .blue {
    background-color: rgba(216, 37, 28, 0.800);
  }
  
  .cards .green {
    background-color: rgba(43, 184, 55, 0.8);
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .card-btns {
    display: flex;
    gap: 10px;
    align-items: center;
}