li {
    list-style: none;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .cards .red {
    background-color: #3f7ef4;
  }
  
  .cards .blue {
    background-color: #2fa560;
  }
  
  .cards .green {
    background-color: #fd4343;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }