.containerHeader {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

span {
    font: 1em 'Verdana', Helvetica, Arial, sans-serif;
    font-weight: 50;
}